@model StudentViewModel

@{
    ViewData["Title"] = "Öğrenci Detayları";
    ViewData["Heading"] = Model.FullName + " - Detaylar";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.jpg");
}

<div class="row">
    <div class="col-12">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card mb-3 col-sm-5 border">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.RegisterDate)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.RegisterDate)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.BirthDate)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.BirthDate)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.PhoneNo)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.PhoneNo)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Email)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.Email)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.TcKimlikNo)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.TcKimlikNo)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Institution)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.Institution)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.DiscountName)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.DiscountName)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.DiscountAmount)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.DiscountAmount)</dd>
                        </dl>
                    </div>
                </div>
                <div class="card mb-3 col-sm-5 border">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.MotherFullName)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.MotherFullName)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.MotherPhoneNo)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.MotherPhoneNo)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.MotherJob)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.MotherJob)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.FatherFullName)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.FatherFullName)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.FatherPhoneNo)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.FatherPhoneNo)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.FatherJob)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.FatherJob)</dd>

                            <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Address)</dt>
                            <dd class="col-sm-6">@Html.DisplayFor(model => model.Address)</dd>
                        </dl>

                        <dl class="row">
                            <dt class="col-sm-6 h4">@Html.DisplayNameFor(model => model.Balance)</dt>
                            <dd class="col-sm-6 h4">@Html.DisplayFor(model => model.Balance) TL</dd>


                        </dl>
                    </div>
                </div>
                <div class="card mb-3 col-sm-2">
                    <div class="row">
                        <img src="@photoPath" asp-append-version="true" class="card-img img-fluid" alt="work-thumbnail">
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-box ribbon-box border">
    <div class="ribbon ribbon-primary float-left"><i class="mdi mdi-access-point mr-1"></i> Kayıt Olduğu Kurslar</div>
    <table class="table table-sm mb-0">
        <thead class="bg-light">
            <tr>
                <th style="width:10%" class="font-weight-bold">Kayıt Tarihi</th>
                <th style="width:10%" class="font-weight-bold">Sezon</th>
                <th style="width:35%" class="font-weight-bold">Kurs</th>
                <th style="width:20%" class="font-weight-bold">Fiyat</th>
                <th style="width:20%" class="font-weight-bold">Kalan</th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        @foreach (var item in Model.Registers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                    @if (item.LeaveDate != null)
                    {
                        <p style="font-size:10px;color:red" class="mb-0">
                            @item.LeaveDate.Value.ToShortDateString() tarihinde ayrıldı.
                        </p>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.SeasonName)</td>
                <td><a asp-controller="Kurs" asp-action="Details" asp-route-id="@item.CourseId">@Html.DisplayFor(modelItem => item.CourseName)</a></td>
                <td>@Html.DisplayFor(modelItem => item.PriceDisplay)</td>
                <td>@Html.DisplayFor(modelItem => item.PaymentLeft)</td>
                <td class="text-center">
                    <a asp-controller="Kayit" asp-action="Delete" asp-route-id="@item.Id"
                       onclick="return confirm('Kaydı komple silmek istediğinize emin misiniz?')"
                       data-toggle="tooltip" data-placement="top" title="" data-original-title="Kaydı Sil">
                        <i class="remixicon-delete-bin-line"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

<div class="card-box ribbon-box border">
    <div class="ribbon ribbon-primary float-left"><i class="mdi mdi-cash mr-1"></i> Yaptığı Ödemeler</div>
    <table class="table table-sm mb-0">
        <thead class="bg-light">
            <tr>
                <th style="width:10%" class="font-weight-bold">Ödeme Tarihi</th>
                <th style="width:25%" class="font-weight-bold">Kurs</th>
                <th style="width:10%" class="font-weight-bold">Ödeme Tipi</th>
                <th style="width:10%" class="font-weight-bold">Taksit</th>
                <th style="width:20%" class="font-weight-bold">Ödemeyi Alan</th>
                <th style="width:20%" class="font-weight-bold">Ödenen</th>
                <th style="width:5%" class="font-weight-bold"></th>
            </tr>
        </thead>

        @foreach (var item in Model.Payments)
        {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.PaymentDate)</td>
        <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
        <td>@Html.DisplayFor(modelItem => item.PaymentTypeName)</td>
        <td>@Html.DisplayFor(modelItem => item.Taksit)</td>
        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
        <td>@Html.DisplayFor(modelItem => item.Price)</td>
        <td class="text-center">
            <a asp-controller="Odeme" asp-action="Delete" asp-route-id="@item.Id"
               onclick="return confirm('Kaydı komple silmek istediğinize emin misiniz?')"
               data-toggle="tooltip" data-placement="top" title="" data-original-title="Kaydı Sil">
                <i class="remixicon-delete-bin-line"></i>
            </a>
        </td>
    </tr>
        }
    </table>
</div>

<div class="card-box ribbon-box border">
    <div class="ribbon ribbon-primary float-left"><i class="mdi mdi-shopping mr-1"></i> Satın Aldığı Ekstralar</div>
    <table class="table table-sm mb-0">
        <thead class="bg-light">
            <tr>
                <th style="width:15%" class="font-weight-bold">Satış Tarihi</th>
                <th style="width:35%" class="font-weight-bold">Ürün</th>
                <th style="width:25%" class="font-weight-bold">Ödemeyi Alan</th>
                <th style="width:20%" class="font-weight-bold">Fiyat</th>
                <th style="width:5%" class="font-weight-bold"></th>
            </tr>
        </thead>

        @foreach (var item in Model.Sales)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DateOfSale)</td>
                <td>
                    <ul class="list-unstyled mb-0">
                        @foreach (var saleItem in item.SaleItems)
                        {
                            <li>@saleItem.ExtraName - @saleItem.PriceEach TL x @saleItem.Amount adet</li>
                        }
                    </ul>
                </td>
                <td>@Html.DisplayFor(modelItem => item.AppUserName)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                <td class="text-center">
                <td class="text-center">
                    <a asp-controller="Sales" asp-action="Delete" asp-route-id="@item.Id"
                       onclick="return confirm('Kaydı komple silmek istediğinize emin misiniz?')"
                       data-toggle="tooltip" data-placement="top" title="" data-original-title="Kaydı Sil">
                        <i class="remixicon-delete-bin-line"></i>
                    </a>
                </td>
                </td>
            </tr>
        }
    </table>
</div>



