@model SaleViewModel

@{
    ViewData["Title"] = "Satışı Sil";
    ViewData["Heading"] = "Silmek istediğinize emin misiniz?";
}
<div class="card-box">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfSale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfSale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUserName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Satışı Sil" class="btn btn-primary waves-effect waves-light" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
