@model IEnumerable<SeasonViewModel>

@{
    ViewData["Title"] = "Tüm Sezonlar";
    ViewData["Heading"] = "Tüm Sezonlar";
    var seasonStyle = "";
}
    <div class="card-box">
        <p>
            <a asp-action="Create" class="btn btn-primary waves-effect waves-light btn-xs"><i class="fa fa-plus-square mr-1"></i> Yeni Sezon </a>
        </p>
        <table class="table">
            <thead class="bg-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th style="width:5%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.SeasonEnded)
                    {
                        seasonStyle = "color:red";
                    }
                    else
                    {
                        seasonStyle = "";
                    }

                    <tr style="@seasonStyle">
                        <td>
                            <a asp-controller="Sezon" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td class="text-center">
                            <ul class="mb-0" style="display:inline-table;">
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="waves-effect waves-light remixicon-settings-4-fill" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                                        <a asp-controller="Kurs" asp-action="Create" asp-route-id="@item.Id" class="dropdown-item notify-item">
                                            Kurs Ekle
                                        </a>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item notify-item">
                                            Düzenle
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item notify-item">
                                            Sil
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>