@model IEnumerable<PaymentViewModel>

@section Styles {
    @{await Html.RenderPartialAsync("DataTables/_ButtonsStyles");}
    <link href="~/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
}
@{
    string priceclass = "";
}

<div class="card-box border">
    <p>
        <a asp-action="Create" asp-controller="Odeme" class="btn btn-primary btn-sm">Ödeme Al</a>
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                data-target="#con-close-modal">
            Filtrele
        </button>
    </p>


    <table class="table table-condensed" id="datatable-buttons" style="width:100%">
        <thead class="bg-light">
            <tr>
                <th style="width:15%" class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.PaymentDate)
                </th>
                <th style="width:20%" class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.StudentName)
                </th>
                <th style="width:20%" class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th style="width:10%" class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.PaymentTypeName)
                </th>
                <th style="width:10%" class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Taksit)
                </th>
                <th style="width:10%" class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th style="width:10%" class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="no-sort" style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(x=> x.PaymentDate))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    <a asp-controller="Ogrenci" asp-action="Details" asp-route-id="@item.StudentId">@Html.DisplayFor(modelItem => item.StudentName)</a>

                </td>
                <td>
                    <a asp-controller="Kurs" asp-action="Details" asp-route-id="@item.CourseId">@Html.DisplayFor(modelItem => item.CourseName)</a>

                </td>
                <td>@Html.DisplayFor(modelItem => item.PaymentTypeName)</td>
                <td>@Html.DisplayFor(modelItem => item.Taksit)</td>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                @if (item.Price < 0)
                {
                    priceclass = "red";
                }
                <td style="color:@priceclass">@Html.DisplayFor(modelItem => item.Price)</td>
                @{ priceclass = "";}
                <td class="text-center">
                    <ul class="mb-0" style="display:inline-table;">
                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user remixicon-settings-4-fill" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item notify-item">
                                    Düzenle
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item notify-item">
                                    Detaylar
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item notify-item">
                                    Sil
                                </a>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="6" style="text-align:right; font-weight:bolder">Toplam:</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

@{await Html.RenderPartialAsync("_Filter");}

@section Scripts {
    @{await Html.RenderPartialAsync("DataTables/_ButtonsScriptsRapor");}
    <script src="~/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({
                autoclose: true,
                language: "tr",
                orientation: "bottom"
            });
        });
    </script>
}